.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.modal-body {
    padding: 2rem;
    width: 400px;
    border-radius: 5px;
    background-color: white;
    height: 200px;
}

.button {
    background-color: rgba(142, 101, 23, 0.51);
    transition-duration: 0.3s;
}

.button:hover {
    background-color: rgba(125, 88, 21, 0.51);
    color: white;
}